@import 'tailwindcss';
@font-face {
  font-family: 'TWBold';
  src: url('../lib/assets/fonts/TitilliumWeb-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TW';
  src: url('../lib/assets/fonts/TitilliumWeb-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: 'TW', sans-serif;
}

  h1 {
    font-family: 'TWBold', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }